<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DAKARLUG</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" >

  </head>

  <body>

    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DAKARLUG</a>
        </div>
        
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-lg-8">
          {% block body %}{% endblock %}
        </div>
        
        <div class="col-lg-4 sidebar">
          
          {% block about %}
          <div class="well about">
            <p>
              Bienvenue sur le site de <strong>DakarLUG</strong>.
            </p>
            <p>
              Amusez-vous.
            </p>
          </div>
          {% endblock %}
          
          {% block author %}{% endblock %}
          {% block subsites %}{% endblock %}
          {% block recent_posts %}{% endblock %}
          

        </div> <!-- /col-lg-4 -->
      </div>
      
      <hr>
      
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Tout contenu : <a href="http://freedomdefined.org/Licenses/CC-BY">CC-BY Creative Commons licence</a>.</p>
            <p>Propulsé par <a href="http://github.com/dakarlug/dwarf">Dwarf</a>.</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>

  </body>
</html>
