@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  border-top: solid #555 7px;
	color: #333;
  padding-top: 1em;
  
}

body * {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.block-body {
 margin-top: 11em; 
}

.sidebar .site-logo {
  margin-bottom: 1em;
  text-align: center;
}

.sidebar .about,
.sidebar .author {
  font-size: 1em;

}

.sidebar .author h4 {
  margin-bottom: 0.1em;
}

.sidebar .author .position {
  font-size: 0.95em;
}

.sidebar .author .bio {
  font-size: 0.90em;
  margin-top: 1.2em;
}

.well {
  background: #f5f5f5;
}

a:visited, a:link {
  color: #007200;
  text-decoration: underline;
}

a:hover {
  background: #eaeaea;
}


.container .row {
  font-size: 1.2em;  
}


.post-lead {
  border-bottom: solid #eee 1px;
  font-style: italic;
  margin-bottom: 1em;  
  padding-bottom: 1em;
}

.post-content p {
  margin-bottom: 20px;
}

.post-content li {
  margin-bottom: 0.8em;
}

.post-content a {
  font-weight: 400;
}

.post-content li, 
.block li {
  list-style-image: url(../img/arrow-smooth.png);
}

ul.posts {
  padding-left: 0;
}

ul.posts li {
  border-bottom: solid #eee 1px;
  font-size: 1.2em;
  list-style-type: none;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

ul.posts li .lead {
  color: #888;
  font-size: 0.78em;
  font-style: italic;
}

ul.posts li .readmore {
  font-size: 0.75em;
}

ul.recent-posts {
  margin-left: 0;
  padding: 0 0.2em;
}


ul.recent-posts li {
  border-bottom: solid #eee 1px;
  font-size: 0.9em;
  list-style-type: none;
  margin-bottom: 0.9em;
  padding-bottom: 1em;
}

.block-tools h2 {
  font-size: 1.1em;
    
}

.block-tools a {
  text-decoration: none
}

.pagination a,
.pagination strong 
{
  padding: 0.5em;
}

.footer {
  background: #f5f5f5;
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 1em 0 0.3em 1em;
  text-align: center;
}






